pm_api_url          = "https://192.168.1.77:8006/api2/json"
pm_api_token_id     = "terrauser@pve!mytoken"
pm_api_token_secret = "f5f30416-2fa1-4743-8a21-e7522f69f3b7"

vm = {
  "main_db" = {vm_id = 130, vm_ip = "192.168.1.130", vm_user = "ubuntu", vm_name = "main_db"}
  "slave_db" = {vm_id = 131, vm_ip = "192.168.1.131", vm_user = "ubuntu", vm_name = "slave_db"}
}